ol.todo {
  margin: 5rem;
  list-style: none;
}

ol.todo input[type=checkbox] {
  margin-right: 1rem;
}

ol.todo li.complete span.title {
  text-decoration: line-through;
}

div.error {
  margin-top: 4rem;
  color: red;
  float: right;
}

a.delete {
  margin-left: 1rem;
  cursor: pointer;
  color: red;
}

form.new-item input[type=submit] {
  margin-left: 1rem;
}